.green.ui.label{
  color: green;
}

.red.ui.label{
  color: red;
}

.yellow.ui.label{
  color: #F2FF00;
}

.blue.ui.label{
  color: blue;
}

.ui.grid>.column, .ui.grid>.row>.column{
	text-align: center;

}

.ui.divider{
	border-top: 2px solid black;
}

.ui.grid>.four.wide.column.price{
	margin: 0px 10px 0px 10px;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	text-align: center;
}

.yellow{
	background-color: #F2FF00;
	border-radius: 25%;
}

.blue{
	background-color: #6ECFF5;
		border-radius: 25%;
}

.reds{
	background-color: #D95C5C;
		border-radius: 25%;
}

.green{
	background-color: #A1CF64;
	border-radius: 25%;
}

a{
	color:#FF833A;
}

h1{
	font-family: 'Josefin Sans', sans-serif;
}

h2, p, a{
	font-family: 'Arvo', serif;
}

h2{
	color: #F990A4;
}

body{
	background: url("../img/swirl_pattern.png");
}

h1{
	text-decoration: underline;
}

.ui.horizontal.divider{
	color: black;
}

.ui.grid>.sixteen.wide.column.ch{
	background-color: #c7c0ac;
}

.ui.button{
	margin: 10px;
}

p{
	color: black;
}



